In [2]:
import pandas as pd
import numpy as np

In [12]:
city_indexes = pd.read_csv('data/train/city_indexes.csv')
city_indexes.columns

Index(['city_indicator_data_year', 'year_end_registered_population_10k',
       'total_households_10k', 'year_end_resident_population_10k',
       'year_end_total_employed_population_10k',
       'year_end_urban_non_private_employees_10k',
       'private_individual_and_other_employees_10k',
       'private_individual_ratio', 'national_year_end_total_population_10k',
       'resident_registered_ratio', 'under_18_10k', '18_60_years_10k',
       'over_60_years_10k', 'total', 'under_18_percent', '18_60_years_percent',
       'over_60_years_percent', 'gdp_100m', 'primary_industry_100m',
       'secondary_industry_100m', 'tertiary_industry_100m',
       'gdp_per_capita_yuan', 'national_gdp_100m', 'national_economic_primacy',
       'national_population_share', 'gdp_population_ratio',
       'secondary_industry_development_gdp_share',
       'tertiary_industry_development_gdp_share', 'employed_population',
       'primary_industry_percent', 'secondary_industry_percent',
       'tertiary_industry_percent',
       'white_collar_service_vs_blue_collar_manufacturing_ratio',
       'general_public_budget_revenue_100m', 'personal_income_tax_100m',
       'per_capita_personal_income_tax_yuan',
       'general_public_budget_expenditure_100m',
       'total_retail_sales_of_consumer_goods_100m', 'retail_sales_growth_rate',
       'urban_consumer_price_index_previous_year_100',
       'annual_average_wage_urban_non_private_employees_yuan',
       'annual_average_wage_urban_non_private_on_duty_employees_yuan',
       'per_capita_disposable_income_absolute_yuan',
       'per_capita_disposable_income_index_previous_year_100',
       'engel_coefficient', 'per_capita_housing_area_sqm',
       'number_of_universities', 'university_students_10k',
       'number_of_middle_schools', 'middle_school_students_10k',
       'number_of_primary_schools', 'primary_school_students_10k',
       'number_of_kindergartens', 'kindergarten_students_10k',
       'hospitals_health_centers', 'hospital_beds_10k',
       'health_technical_personnel_10k', 'doctors_10k', 'road_length_km',
       'road_area_10k_sqm', 'per_capita_urban_road_area_sqm',
       'number_of_operating_bus_lines', 'operating_bus_line_length_km',
       'internet_broadband_access_subscribers_10k',
       'internet_broadband_access_ratio',
       'number_of_industrial_enterprises_above_designated_size',
       'total_current_assets_10k', 'total_fixed_assets_10k',
       'main_business_taxes_and_surcharges_10k',
       'total_fixed_asset_investment_10k',
       'real_estate_development_investment_completed_10k',
       'residential_development_investment_completed_10k',
       'science_expenditure_10k', 'education_expenditure_10k'],
      dtype='object')

In [15]:
city_search_index = pd.read_csv('data/train/city_search_index.csv')
city_search_index.head(5)

      month keyword source  search_volume
0  2019-Jan      买房    PC端           1914
1  2019-Jan      买房    移动端           2646
2  2019-Jan   二手房市场    PC端            192
3  2019-Jan   二手房市场    移动端            204
4  2019-Jan     公积金    PC端           9160

In [ ]:
land_transactions_nearby_sectors = pd.read_csv('data/train/land_transactions_nearby_sectors.csv')
land_transactions_nearby_sectors.head(5)

,month,sector,num_land_transactions_nearby_sectors,construction_area_nearby_sectors,planned_building_area_nearby_sectors,transaction_amount_nearby_sectors
0,2019-Jan,sector 35,0.0,0.0,0.0,0.0
1,2019-Jan,sector 23,0.0,0.0,0.0,0.0
2,2019-Jan,sector 80,0.0,0.0,0.0,0.0
3,2019-Jan,sector 53,0.0,0.0,0.0,0.0
4,2019-Jan,sector 84,0.0,0.0,0.0,0.0

In [ ]:
land_transactions = pd.read_csv('data/train/land_transactions.csv')
land_transactions.head(5)

,month,sector,num_land_transactions,construction_area,planned_building_area,transaction_amount
0,2019-Jan,sector 74,0,0.0,0.0,0.0
1,2019-Jan,sector 35,0,0.0,0.0,0.0
2,2019-Jan,sector 23,0,0.0,0.0,0.0
3,2019-Jan,sector 80,0,0.0,0.0,0.0
4,2019-Jan,sector 53,0,0.0,0.0,0.0

In [ ]:
new_house_transactions_nearby_sectors = pd.read_csv('data/train/new_house_transactions_nearby_sectors.csv')
new_house_transactions_nearby_sectors.head(5)

,month,sector,num_new_house_transactions_nearby_sectors,area_new_house_transactions_nearby_sectors,price_new_house_transactions_nearby_sectors,amount_new_house_transactions_nearby_sectors,area_per_unit_new_house_transactions_nearby_sectors,total_price_per_unit_new_house_transactions_nearby_sectors,num_new_house_available_for_sale_nearby_sectors,area_new_house_available_for_sale_nearby_sectors,period_new_house_sell_through_nearby_sectors
0,2019-Jan,sector 35,129.250000,13212.500000,21172.85714,27974.637500,102.224371,216.438201,2526.750000,302828.50000,21.910000
1,2019-Jan,sector 23,27.400000,2822.400000,47592.19459,13432.421000,103.007299,490.234343,390.600000,47866.60000,11.150000
2,2019-Jan,sector 80,81.285714,8670.000000,25508.56484,22115.925710,106.660808,272.076415,1124.285714,131539.71430,10.467143
3,2019-Jan,sector 53,28.500000,3428.833333,39242.77451,13455.693330,120.309941,472.129591,350.500000,43073.66667,15.613333
4,2019-Jan,sector 84,8.857143,1304.428571,62359.84558,8134.396429,147.274193,918.399597,207.400000,35174.00000,26.246000

In [20]:
new_house_transactions = pd.read_csv('data/train/new_house_transactions.csv')
new_house_transactions.head(5)

,month,sector,num_new_house_transactions,area_new_house_transactions,price_new_house_transactions,amount_new_house_transactions,area_per_unit_new_house_transactions,total_price_per_unit_new_house_transactions,num_new_house_available_for_sale,area_new_house_available_for_sale,period_new_house_sell_through
0,2019-Jan,sector 1,52,4906,28184,13827.14,94,265.91,159.0,15904.0,3.78
1,2019-Jan,sector 2,145,15933,17747,28277.73,110,195.02,1491.0,175113.0,12.29
2,2019-Jan,sector 4,6,725,28004,1424.21,127,356.05,40.0,6826.0,5.95
3,2019-Jan,sector 5,2,212,37432,792.10,106,396.05,161.0,17173.0,83.95
4,2019-Jan,sector 6,5,773,15992,607.94,95,151.99,189.0,19696.0,14.27

In [22]:
pre_owned_house_transactions_nearby_sectors = pd.read_csv('data/train/pre_owned_house_transactions_nearby_sectors.csv')
pre_owned_house_transactions_nearby_sectors.head(5)

,month,sector,num_pre_owned_house_transactions_nearby_sectors,area_pre_owned_house_transactions_nearby_sectors,amount_pre_owned_house_transactions_nearby_sectors,price_pre_owned_house_transactions_nearby_sectors
0,2019-Jan,sector 1,6.750000,733.000000,1247.03800,17012.79673
1,2019-Jan,sector 2,64.181818,5339.000000,20880.24282,39108.90208
2,2019-Jan,sector 3,77.714286,7457.142857,17376.21486,23301.43755
3,2019-Jan,sector 4,57.666667,5109.666667,19021.15267,37225.81904
4,2019-Jan,sector 5,45.428571,3763.500000,15800.74143,41984.16747

In [23]:
pre_owned_house_transactions = pd.read_csv('data/train/pre_owned_house_transactions.csv')
pre_owned_house_transactions.head(5)

,month,sector,area_pre_owned_house_transactions,amount_pre_owned_house_transactions,num_pre_owned_house_transactions,price_pre_owned_house_transactions
0,2019-Jan,sector 35,548,33.200,6,605.839416
1,2019-Jan,sector 23,3376,9137.764,48,27066.836490
2,2019-Jan,sector 80,3804,8980.000,44,23606.729760
3,2019-Jan,sector 53,0,0.000,0,11301.439410
4,2019-Jan,sector 84,9941,51515.904,103,51821.651750

In [25]:
sector_POI = pd.read_csv('data/train/sector_POI.csv')
sector_POI.columns

Index(['sector', 'sector_coverage', 'population_scale', 'residential_area',
       'office_building', 'commercial_area', 'resident_population',
       'office_population', 'number_of_shops', 'catering',
       ...
       'medical_health_rehabilitation_institution_dense',
       'medical_health_first_aid_center_dense',
       'medical_health_blood_donation_station_dense',
       'medical_health_disease_prevention_institution_dense',
       'medical_health_general_hospital_dense', 'medical_health_clinic_dense',
       'education_training_school_education_middle_school_dense',
       'education_training_school_education_primary_school_dense',
       'education_training_school_education_kindergarten_dense',
       'education_training_school_education_research_institution_dense'],
      dtype='object', length=142)